<h1>Juventus</h1>

<p>La Juventus Football Club, coloquialmente conocida como Juventus de Turín, Juventus, o Juve, es un club de fútbol italiano con sede en la ciudad de Turín, capital de la región del Piamonte. Fue fundado el 1 de noviembre de 1897 con el nombre de «Sport Club Juventus» por un grupo de estudiantes locales.​</p>
<p>
    La Juventus es el equipo más exitoso de Italia y al mismo tiempo uno de los clubes más laureados y renombrados del mundo.
    Es el club con el mayor número de títulos oficiales conquistados en el fútbol italiano con un total de 59 campeonatos (36 Ligas, 14 Copas, 9 Supercopas).
    Fue el primer club italiano y del sur europeo en ganar la Copa de la UEFA (temporada 1976-77), en el ámbito internacional; cabe destacar que es el sexto 
    club europeo y duodécimo en el mundo con la mayor cantidad de títulos oficiales internacionales a nivel confederativo e interconfederativo con 11 títulos,
    siendo además el primer club en la historia del fútbol europeo en ganar las tres principales competiciones organizadas por la Unión Europea de Asociaciones 
    de Fútbol y el primer club en el mundo —y único hasta el presente— en ganar todas las competiciones confederativas (y el título mundial interclubes).
</p>

<ul class="list-unstyled">
    <li> <p> <b>Presidente:</b> Andrea Agnelli</p> </li>
    <li> <p> <b>Entrenador: </b> Massimiliano Allegri </p> </li>
    <li> <p> <b>Fundacion:</b> 	17 de octubre de 1907 (114 años)</p> </li>
    <li> <p> <b>Estadio: </b> Estadio Juventus </p> </li>
  </ul>