<h1>Napoles</h1>
<p>La Società Sportiva Calcio Napoli, también conocida como S. S. C. Napoli 
    o simplemente Napoli o Nápoles, es un club de fútbol italiano con sede en 
    la ciudad de Nápoles, en la región de Campania. Fue fundado en 1926 como 
    Associazione Calcio Napoli, asumiendo el nombre actual en 1964, y refundado 
    en 2004.</p>
<ul class="list-unstyled">
    <li> <p> <b>Presidente:</b>  Aurelio De Laurentis</p> </li>
    <li> <p> <b>Entrenador: </b> Luciano Spalletti </p> </li>
    <li> <p> <b>Fundacion:</b> 	1 de agosto de 1926 (95 años) </p> </li>
    <li> <p> <b>Estadio: </b> Estadio San Paolo  </p> </li>
  </ul>