<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a href="javascript://">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Liga italiana de futbol Serie A</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="Inicio" class="nav-link active">
          Inicio
        </a>
        <a href="https://www.legaseriea.it/en" class="nav-link">
          Pafina oficial S.A
        </a>
    
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox" />
          <label for="tabexample1">Equipos</label>
          <ul class="nav-list">
            <li><a routerLink="Napoles" class="nav-link">Napoles</a></li>
            <li><a routerLink="Inter" class="nav-link">Inter</a></li>
            <li><a routerLink="Milan" class="nav-link">Milan</a></li>
            <li><a routerLink="Juventus" class="nav-link">Juventus</a></li>
            <li><a routerLink="Atalanta" class="nav-link">Atalanta</a></li>
          </ul>
        </section>

      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

