<h1>Atalanta</h1>
<p>La Atalanta Bergamasca Calcio, más conocido como Atalanta o Atalanta de Bérgamo, ​ es un club de fútbol profesional con sede en Bérgamo, Lombardía, Italia. El club juega en la Serie A, tras haber obtenido el ascenso de la Serie B en 2010-11.</p>
<p>Es el equipo que más ediciones de Serie A, a grupo único, ha disputado sin representar a una capital de región, por ello se la considera la Reina de las Provincias. Pero también es el conjunto que ha jugado más veces en la primera división italiana que nunca ha ganado un scudetto. Por el contrario, junto al Genoa, es la escuadra que más ocasiones ha ganado un campeonato de segunda división italiana, seis, y más promociones a la más alta división, trece. En su palmarés aparece un título de copa conseguido en la temporada 1962-63. Alcanzó las semifinales de la Recopa de Europa en 1988, cuando jugaba en Serie B.</p>
<ul class="list-unstyled">
    <li> <p> <b>Presidente:</b> Antonio Percassi</p> </li>
    <li> <p> <b>Entrenador: </b> Gian Piero Gasperini </p> </li>
    <li> <p> <b>Fundacion:</b> 	17 de octubre de 1907 (114 años)</p> </li>
    <li> <p> <b>Estadio: </b> Gewiss Stadium  </p> </li>
  </ul>