<h1>Milan</h1>
<p>La Associazione Calcio Milan, también conocida como A. C. Milan o simplemente Milan, es un club de fútbol italiano que pertenece a la ciudad de Milán, en la región de Lombardía.</p>
   <p> Compite en la máxima categoría de la Lega Nazionale Professionisti Serie A del fútbol italiano, la homónima Serie A, desde su instauración en 1929 con la excepción de dos períodos en los que descendió: la primera en la temporada 1979-80 y la segunda en la 1981-82 para un total de 84 temporadas
</p>
<ul class="list-unstyled">
    <li> <p> <b>Presidente:</b>  Paolo Scaroni</p> </li>
    <li> <p> <b>Entrenador: </b> Stefano Pioli </p> </li>
    <li> <p> <b>Fundacion:</b> 	 16 de diciembre de 1899 (122 años)</p> </li>
    <li> <p> <b>Estadio: </b> Estadio Giuseppe Meazza  </p> </li>
  </ul>