<h1>Serie A de Italia</h1>
      <p>La Serie A de Italia —conocida por motivos de patrocinio como Serie 
        A TIM— es la máxima categoría del sistema de ligas italiano, organizada 
        por la Lega Nazionale Professionisti desde 1946, tras suceder a la 
        Federación Italiana de Fútbol y convertirse en 2010 en la Lega Nazionale
        Professionisti Serie A.</p>
        <p>La Serie A es considerada una de las cinco grandes ligas europeas junto con la Premier League inglesa, 
          la Primera División española, la Bundesliga alemana y la Ligue 1 francesa, ocupando el tercer puesto 
          del coeficiente UEFA. Según la Federación Internacional de Historia y Estadística de Fútbol (IFFHS),
          es la primera liga más relevante del mundo.</p>
      <p> <b> Campeón: </b>  F. C. Internazionale (17)</p>  
      <p> <b> Más galardonado: </b>  Juventus F. C. (34 títulos)</p> 
      <h2>Historia</h2>
      <p>El campeonato se inició en 1898 como Campionato Federale 
        (es. Campeonato Federal). El primer dominador de la competición 
        fue el Genoa Cricket & Football Club, imponiéndose en seis de las 
        primeras siete ediciones. Además del club genovés con nueve campeonatos
         en la época amateur, en dicha etapa también se destacó el Pro Vercelli 
         con siete conquistas entre 1908 y 1922. Entre 1915 y 1919 no se disputó 
         el torneo a causa de la Primera Guerra Mundial.

        En 1929, con la profesionalización del fútbol italiano cambió de nombre a
         Serie A o Campionato a girone unico (es. Campeonato a única vuelta). 
         Durante los años treinta el Foot-Ball Club Juventus se impuso durante 
         cinco temporadas consecutivas (1930-1935). Por su parte, el Bolonia se 
         consagraba campeón en otras tres ocasiones más. En esta década destacaron 
         jugadores como Giuseppe Meazza con el Internazionale.</p>