<h1>Inter</h1>
<p>El Football Club Internazionale Milano, 
    comúnmente llamado Internazionale o Inter,
    y más conocido en el resto del mundo como Inter de Milán, es un club de fútbol de Italia con sede en la ciudad de Milán, 
    capital de la región de Lombardía.</p>
    <p>Es uno de los clubes más ganadores y con mayor renombre históricamente de Italia, Europa y el mundo.6​ El Inter es el segundo equipo más exitoso del fútbol italiano, con 32 títulos a nivel local (19 Ligas, 7 Copas y 6 Supercopas), siendo solo superado por la Juventus Football Club. A nivel internacional ha logrado proclamarse campeón tres veces tanto de la Copa de la UEFA como de la Copa de Europa / Champions League (en las temporadas 1963-64, 1964-65 y 2009-10), tras lo cual obtuvo en 2 ocasiones la Copa Intercontinental y en una la Copa Mundial de Clubes de la FIFA.</p>
<ul class="list-unstyled">
    <li> <p> <b>Presidente:</b>  Steven Zhang</p> </li>
    <li> <p> <b>Entrenador: </b> Simone Inzaghi </p> </li>
    <li> <p> <b>Fundacion:</b> 	 9 de marzo de 1908</p> </li>
    <li> <p> <b>Estadio: </b> Estadio Giuseppe Meazza  </p> </li>
  </ul>